* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
/* Variables y utilidades*/
:root {
    --color-primario: black;
    --color-1: #c8a2c8;
    --color-2: #ffd1dc;
    --color-3: #87ceeb;
    --color-4: #c2b280;
    --color-5: #b87333;
    --color-6: #ffb347;
    --color-7: #3498db;
    --color-8: #3498db;
    --color-9: #3498db;

    --main-font: 'DM Serif Display',serif;
    --second-font: 'Roboto', sans-serif;
    --third-font: 'League Spartan', sans-serif;
}
/* Tipografía */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  line-height: 1.2;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }

/* Header */

.main-header{
    font-family: var(--main-font);
    background-color: white;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 3.5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
}


.buttons{
    background-color: transparent;
    border: none;
    font-size: large;
    font-weight: bold;
    transition-duration: 0.1s;
}

.dropdown-main{
    position: relative;
}

.dropdown-main:hover{
    text-shadow: 0 0 20px black;
}

#dropdown:hover{
    text-shadow: 0 0 20px black;
}

#icono-paleta{
    position: absolute;
}

#dropdown{
    padding-left: 1rem;
    border: none;
}

.hero{
    display: grid;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100vw;
    padding-top: 3.5rem;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
}

.color{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr auto;
    grid-template-areas: 
        "titulo titulo"
        "hex hex"
        "lista lista";
    transition-duration: 0.3s;
    background-color: var(--color-1);
}

.color ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    grid-area: lista;
    align-self: end;
    text-align: right;
    gap: 0.5rem;
    padding:1.5rem;
}

.color h2{
    grid-area: titulo;
    font-family: var(--second-font);
    transition-duration: 0.3s;
    padding: 1rem;
}

.color .hex {
  grid-area: hex;
  margin: 0;
  align-self:flex-end;
  font-family: var(--third-font);
  padding: 1rem;
}

.color button{
    border-style: none;
    background-color: var(--color-1);
    font-size: clamp(0.875rem, 1vw + 0.5rem, 1.25rem);
}

.color:hover{
    filter: brightness(1.1);
    box-shadow: 0 0 20px rgba(255, 112, 217, 0.6);
}

.color button:hover{
    text-shadow: 0 0 20px white;
}

button:hover{
    text-shadow: 0 0 20px black;
}