* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
/* Variables y utilidades*/
:root {
    --color-primario: black;
    --color-1: #c8a2c8;
    --color-2: #ffd1dc;
    --color-3: #87ceeb;
    --color-4: #c2b280;
    --color-5: #b87333;
    --color-6: #ffb347;
    --color-7: #3498db;
    --color-8: #3498db;
    --color-9: #3498db;

    --main-font: 'DM Serif Display',serif;
    --second-font: 'Roboto', sans-serif;
    --third-font: 'League Spartan', sans-serif;
}
/* Tipografía */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  line-height: 1.2;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }

/* Header */

.main-header{
    font-family: var(--main-font);
    background-color: white;
    align-items: center;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}
.buttons{
    background-color: transparent;
    border: none;
}
.dropdown-main{
    position: relative;
}
#icono-paleta{
    position: absolute;
}
#dropdown{
    padding-left: 1rem;
    border: none;
}
.hero{
    display: flex;
    height: 70vh;
    width: 100vw;
    background-color: var(--color-1);
    justify-content: space-between;
}
.color{
    display: flex;
    flex-direction: column;
    align-items:end;
    border: black;
}